DJANGO_SETTINGS_MODULE=config.settings.production

APP_DOMAIN=aulas.tonicoimbra.com
APP_SITE_NAME=ProfessorDash

SECRET_KEY=uHkm3Nu0nPCzlCBlIBuZuWTx_UR3wLbwGGnUzSLzh--iJSvggAH9azOzADEzd_i-cJw
DEBUG=False
ALLOWED_HOSTS=aulas.tonicoimbra.com,localhost,127.0.0.1

DJANGO_SUPERUSER_EMAIL=elvertoni@gmail.com
DJANGO_SUPERUSER_PASSWORD=

POSTGRES_DB=professordash
POSTGRES_USER=prof
POSTGRES_PASSWORD=9d1fc36cecf92f1d1ef4
DB_HOST=work_professordash-db
DB_PORT=5432
DATABASE_URL=postgresql://prof:9d1fc36cecf92f1d1ef4@work_professordash-db:5432/professordash?sslmode=disable

REDIS_PASSWORD=38cb34d50ae4b360cab2
REDIS_URL=redis://default:38cb34d50ae4b360cab2@work_professordash-redis:6379/0

GOOGLE_CLIENT_ID=COLOQUE_SEU_GOOGLE_CLIENT_ID
GOOGLE_CLIENT_SECRET=COLOQUE_SEU_GOOGLE_CLIENT_SECRET
GOOGLE_DRIVE_OAUTH_ENABLED=False

OPENROUTER_API_KEY=sk-or-COLOQUE_SUA_CHAVE_NOVA_AQUI

EMAIL_HOST=smtp.gmail.com
EMAIL_PORT=587
EMAIL_HOST_USER=
EMAIL_HOST_PASSWORD=

REPLOY_TRIGGER=2026-03-18_0001