DJANGO_SETTINGS_MODULE=config.settings.production

APP_DOMAIN=aulas.tonicoimbra.com
APP_SITE_NAME=ProfessorDash

SECRET_KEY=change-me-in-production
DEBUG=False
ALLOWED_HOSTS=aulas.tonicoimbra.com,localhost,127.0.0.1

DJANGO_SUPERUSER_EMAIL=admin@example.com
DJANGO_SUPERUSER_PASSWORD=change-me

POSTGRES_DB=professordash
POSTGRES_USER=prof
POSTGRES_PASSWORD=change-me-db-password
DB_HOST=db
DB_PORT=5432
DATABASE_URL=postgresql://prof:change-me-db-password@db:5432/professordash?sslmode=disable

REDIS_PASSWORD=change-me-redis-password
REDIS_URL=redis://default:change-me-redis-password@redis:6379/0

GOOGLE_CLIENT_ID=COLOQUE_SEU_GOOGLE_CLIENT_ID
GOOGLE_CLIENT_SECRET=COLOQUE_SEU_GOOGLE_CLIENT_SECRET
GOOGLE_DRIVE_OAUTH_ENABLED=False

OPENROUTER_API_KEY=sk-or-COLOQUE_SUA_CHAVE_AQUI

EMAIL_HOST=smtp.gmail.com
EMAIL_PORT=587
EMAIL_HOST_USER=
EMAIL_HOST_PASSWORD=

REPLOY_TRIGGER=2026-03-18_0001
